body {
    font: normal 14px/22px Arial, "Microsoft YaHei";
    color: #323232;
    -webkit-overflow-scrolling: touch;
}

body.gray {
    background-color: #eee;
}

body.dark {
    background-color: #cfcfcf;
}

body.white {
    background-color: #fff;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.fixed {
    position: fixed;
}

.left {
    float: left;
}

.right {
    float: right;
}

.red {
    color: #ff0000;
}

.yellow {
    color: #ffa417;
}

.orange {
    color: #ff4911;
}

.blue {
    color: #0d44d0;
}

a {
    color: #8c8c8c;
    outline: 0;
    text-decoration: none;
}

em,
footer,
h1,
h2,
h3,
h4,
input,
li,
mark,
nav,
ol,
p,
section,
span,
textarea,
ul {
    margin: 0;
    padding: 0;
    font-weight: 400;
    list-style: none;
    font-style: normal;
}

a,
input,
textarea {
    outline: none;
}

p {
    margin: 6px 0;
}

p.small {
    font-size: 12px;
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.mgAlert {
    border-radius: 5px;
    width: 50%;
    top: -35%;
    left: 50%;
    margin-left: -28%;
    z-index: 9005;
    padding: 17px 3%;
    word-break: break-all;
    line-height: 22px;
    border: 1px solid transparent;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(1.185);
    -ms-transform: translate3d(0, 0, 0) scale(1.185);
    transform: translate3d(0, 0, 0) scale(1.185);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity
}

.mgAlert.showAlert {
    opacity: .9;
    transition-duration: .4s;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1)
}

.mgAlert.hideAlert {
    opacity: 0;
    z-index: 11000;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: translate3d(0, 0, 0) scale(.815);
    -ms-transform: translate3d(0, 0, 0) scale(.815);
    transform: translate3d(0, 0, 0) scale(.815)
}

.mgAlert-error,
.mgAlert-success {
    color: #fff;
    background-color: #333;
    border-color: #333
}

.mgAlert.mgAlert-success:before,
.mgAlert.showAlert.mgAlert-success:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('//img.aimoge.com/Fklf55k94DKYun6WI2_BqGlBh1r0');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -20px;
    margin-bottom: 8px;
    margin-top: 8px
}

.layer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.58);
    top: 0;
    left: 0;
    z-index: 6000;
}

.layer,
.mgAlert.showAlert {
    -webkit-transition-duration: .4s
}

.flex {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}

img {
    max-width: 100%;
}

.flexmodel {
    box-flex: 1;
    -webkit-box-flex: 1;
}

.center {
    text-align: center;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis,
html.x5,
html.x5 #main-view-wrap,
html.x5 body {
    overflow: hidden;
}

pre {
    white-space: pre-line;
    margin: 0;
}

body {
    color: #323232;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.goToTop {
    display: none;
    background: url('//img.aimoge.com/FhxFw9bG_wGDCcF1Mllyedsb8cmz') 0 0 no-repeat;
    background-size: 100% auto;
    width: 50px;
    height: 50px;
    bottom: 65px;
    left: 12px;
    z-index: 13000;
}

.mgLoadingWarp {
    display: none;
    margin-top: 10px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    width: 100%;
    z-index: 4999;
    opacity: 1;
    transition: opacity 0.06s ease-in-out;
}

.mgLoadingWarp i {
    background: url('//img.aimoge.com/FqA7Kv6H770AcP8_gNy1rf_nqJMH') 0 0 no-repeat;
    background-size: 100%;
    background-position: center center;
    position: absolute;
    top: 14px;
    display: block;
    width: 22px;
    height: 22px;
    left: 50%;
    margin-left: -36px;
}

.mgLoadingWarp span {
    font-size: 14px;
    display: block;
    margin: auto;
    text-align: center;
}

.mgLoadingWarp span.load {
    text-indent: 38px;
}

.sysLoading {
    display: none;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 9000;
    opacity: .4;
    top: 0;
    left: 0;
}

.sysLoading i {
    background: url('//img.aimoge.com/FhDyAl9aqWcGzIHgUOrfyqm8xVr1') 0 0 no-repeat;
    background-size: 100%;
    background-position: center center;
    position: absolute;
    top: 35%;
    display: block;
    width: 38px;
    height: 38px;
    left: 50%;
    margin-left: -19px;
}

.empty-content {
    color: #b8b8b8;
    font-size: 16px;
    text-align: center;
    padding-top: 35%;
    width: 100%;
    display: none;
}

.empty-content .empty-img {
    width: 78px;
    height: 78px;
    margin: 0 auto;
    background: url('//img.aimoge.com/FjmANRvf07CVvfV-21eJlqTNHC3u') no-repeat;
    background-size: 100%;
}


/** loadingWarp **/

.mgLoadingWarp.block,
.sysLoading.block {
    display: block;
}

.mgLoadingWarp.none,
.sysLoading.none {
    display: none;
}

.loadingArea {
    height: auto;
    padding-top: 10px;
}

.loadingArea.top0 {
    margin-top: 0;
    padding-top: 0;
}

.loadingArea .mgLoadingWarp {
    margin-top: 0;
}
.icgoback:before {
    background-image: url('//img.aimoge.com/Fni7BRPW0l9DbRzYiDzOvHDl3bbJ');
}

.icclock:before {
    background-image: url('//img.aimoge.com/Fo4ghwdR7Qmg7UcAYZMkYQ3y6AzC');
}

.gege-header .active:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #d75a48;
}

.icsearch:before {
    background-image: url('//img.aimoge.com/Fvl8P6rvilSrSn_U0h3Jpja70JGw');
}

.icadd:before {
    background-image: url('//img.aimoge.com/FhUXzqoIW9-TUp0AKyWGOxmwoB2j');
}

.icedit:before {
    background-image: url('//img.aimoge.com/FplSaRX6mmWSi_i6_gF-KCnZ1tzg');
}

.icfinish:before {
    background-image: url('//img.aimoge.com/FnL-WpHNd6pm7vn75TnNq97gkNGN');
}

/** css3 transition **/

.fadeIn-enter,
.fadeIn-leave {
    -webkit-transition: all .7s;
    transition: all .7s;
}

.fadeIn-enter,
.fadeIn-leave-active {
    opacity: 0.01;
}

.fadeIn-enter-active,
.fadeIn-leave {
    opacity: 1;
}

.module_share {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('//img.aimoge.com/FmTfK3j8yrTQpKq_jaSbDkQWS29U');
    background-size: 72% auto;
    background-repeat: no-repeat;
    background-position: center 42%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99900;
    display: none;
}
