@charset "utf-8";

/* CSS Document*/


/*公共部分*/

* {
    font-family: "microsoft yahei", "helvetica", "heiti SC", "droid", "sans";
    word-spacing: 0px;
    letter-spacing: .02rem;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    background: -webkit-linear-gradient(top, #3d7eea, #022f79);
    background: -moz-linear-gradient(top, #3d7eea, #022f79);
    background: linear-gradient(top, #3d7eea, #022f79);
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both
}

.blank {
    margin-bottom: 4rem;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    /* IE9*/
    src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.1px;
    -moz-osx-font-smoothing: grayscale;
}

#user_head {
    color: white;
    height: 50px;
    position: relative;
    width: 100%;
    z-index: 997;
    left: 0px;
    top: 0;
    width: 100%;
}

#user_head .user_logo {
    position: absolute;
    display: block;
    text-align: center;
    overflow: hidden;
    width: 110px;
    height: 50px;
    line-height: 50px;
    left: 0px;
    top: 0px;
}

.nav {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 42%;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
}

.active {
    opacity: 1;
}

.btn span {
    font-size: 14px;
    color: #fff;
}

.show {
    padding: 30px 30px;
    height: 85%;
    box-sizing: border-box;
}

.show div {
    width: 100%;
    height: 70%;
    background: #fff;
    border-radius: 5px;
}

.show div .img {
    height: 75%;
/*    border-bottom: 1px solid red;*/
    position: relative;
}
.show div .img:before{
     content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    transform: scale(1, .5);
}
.show div #uploadBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*    display: block;*/
}
.show div #error{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    display: none;
}
#error label{
    text-decoration:underline;
}
#error a{
    margin-top: 20px;
    text-align: center;
}
#error label,a, .img #error p{
    color: #6e6e6e;
}
#retry{
    width: 40%;
    margin-top: 30px;
}
#photo{
    width: 100%
}
.img .btn {
    width: 100%;
    height: 40px;
    border: 1px solid #4285f4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
}

.img a {
    display: block;
    width: 42%;
    position: relative;
}

.img p {
    font-size: 12px;
    color: #bcbcbc;
    margin-top: 20px;
}

.show div .img span {
    font-size: 14px;
    color: #4285f4;
}

.show div .text {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt1 {
    font-size: 16px;
    display: none;
}

#text {
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 15px;
    padding-right: 0px;
    box-sizing: border-box;
    height: 80%;
}

#num1 {
    margin-top: 5%;
    height: 20%;
    line-height: 20%;
    text-align: right;
    color: #d1d1d1;
}

.show .nextBtn {
    width: 100%;
    height: 42px;
    margin-top: 35px;
    background: #4285f4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show .nextBtn span {
    color: #fff;
    font-size: 20px;
}

.upload {
    width: 100%;
    height: 142px;
    background: #fff;
    position: absolute;
    bottom: -142px;
    left: 0px;
    display: none;
}

.upload .herder {
    padding-left: 20px;
    background: #ececec;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
}

.upload .nav:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    transform: scale(1, .5);
}

.upload .nav {
    width: 100%;
    padding: 20px;
    position: absolute;
}

.upload .nav2 {
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0px;
}

.img a input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: solid 1px #ddd;
    opacity: 0;
}

#user_head .user_logo i {
    display: inline-block;
    margin-top: 6px;
    font-size: 110px;
    width: 98px;
    height: 20px;
    color: #fff;
    vertical-align: middle;
}

#user_head .user_menu {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 0px;
    right: 0px;
}

#user_head .user_menu a {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

#user_head #left_ico {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    line-height: 50px;
}

#user_head #left_ico i {
    color: #fff;
    font-size: 20px;
}

#user_head p {
    height: 26px;
    line-height: 26px;
    font-size: 17px;
    text-align: center;
    padding-top: 12px;
}

#user_head a:active {
    background: #262525;
}

#s_dpage {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

#s_dpage span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#s_dpage i {
    color: #fff;
    margin-top: 10px;
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}

#dpage {
    background: #ebebeb;
    height: 143px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: -143px;
    visibility: hidden;
    z-index: 999;
    -webkit-transform: translate3d(0px, 0, 0px);
    -moz-transform: translate3d(0px, 0, 0px);
    transform: translate3d(0px, 0, 0px);
    transition: all 0.3s;
}

#dpage.show {
    visibility: visible;
    -webkit-transform: translate3d(0px, -143px, 0px);
    -moz-transform: translate3d(0px, -143px, 0px);
    transform: translate3d(0px, -143px, 0px);
}

#dpage a {
    display: block;
    width: 100%;
    text-align: center;
    height: 40px;
    background: #fff;
    color: #333;
    line-height: 40px;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    position: relative;
}

#dpage a:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 10px;
    background: none;
}

.logoBox {
    display: block;
    padding-top: 10%;
}


/*图片裁剪-触屏设备*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.htmleaf-container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #383838;
    display: none;
    z-index: 996;
}

.htmleaf-content {
    font-size: 150%;
    padding: 1em 0;
}

.htmleaf-content h2 {
    margin: 0 0 2em;
    opacity: 0.1;
}

.htmleaf-content p {
    margin: 1em 0;
    padding: 5em 0 0 0;
    font-size: 0.65em;
}


/* Header*/

.htmleaf-header {
    padding: 1em 190px 1em;
    letter-spacing: -1px;
    text-align: center;
    background: #66677c;
}

.htmleaf-header h1 {
    color: #D5D6E2;
    font-weight: 600;
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

.htmleaf-header h1 span {
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
    display: block;
    font-size: 60%;
    font-weight: 400;
    padding: 0.8em 0 0.5em 0;
    color: #c3c8cd;
}


/*nav*/

.htmleaf-demo a {
    color: #1d7db1;
    text-decoration: none;
}

.htmleaf-demo {
    width: 100%;
    padding-bottom: 1.2em;
}

.htmleaf-demo a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.6em 1em;
    border: 3px solid #1d7db1;
    font-weight: 700;
}

.htmleaf-demo a:hover {
    opacity: 0.6;
}

.htmleaf-demo a.current {
    background: #1d7db1;
    color: #fff;
}


/* Top Navigation Style*/

.htmleaf-links {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 1.5em;
    text-align: center;
}

.htmleaf-links::after {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #dbdbdb;
    content: '';
    -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
    transform: rotate3d(0, 0, 1, 22.5deg);
}

.htmleaf-icon {
    display: inline-block;
    margin: 0.5em;
    padding: 0em 0;
    width: 1.5em;
    text-decoration: none;
}

.htmleaf-icon span {
    display: none;
}

.htmleaf-icon:before {
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}


/* footer*/

.htmleaf-footer {
    width: 100%;
    padding-top: 10px;
}

.htmleaf-small {
    font-size: 0.8em;
}

.center {
    text-align: center;
}

.related {
    color: #fff;
    background: #494A5F;
    text-align: center;
    font-size: 1.25em;
    padding: 0.5em 0;
    overflow: hidden;
}

.related>a {
    vertical-align: top;
    width: calc(100% - 20px);
    max-width: 340px;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

.related a {
    display: inline-block;
    text-align: left;
    margin: 20px auto;
    padding: 10px 20px;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
    opacity: 1;
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
    border-radius: 4px;
}

.related a:hover img,
.related a:active img {
    opacity: 1;
}

.related h3 {
    font-family: "Microsoft YaHei", sans-serif;
}

.related a h3 {
    font-weight: 300;
    margin-top: 0.15em;
    color: #fff;
}


/* icomoon*/

.icon-htmleaf-home-outline:before {
    content: "\e5000";
}

.icon-htmleaf-arrow-forward-outline:before {
    content: "\e5001";
}

@media screen and (max-width: 50em) {
    .htmleaf-header {
        padding: 3em 10% 4em;
    }
    .htmleaf-header h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 40em) {
    .htmleaf-header h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 30em) {
    .htmleaf-header h1 {
        font-size: 1.2em;
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#clipArea {
    height: 90%;
}


/*上传图标*/

#file {
    float: left;
    height: 100%;
}

#clipBtn {
    height: 100%;
    width: 96%;
    background: #009bdb;
    border-radius: 5px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 16px;
    z-index: 999;
}

.filename {
    position: absolute;
    outline: 0 none;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: #999;
    width: 100%;
    margin: 0;
    overflow: hidden;
    cursor: default;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0;
    top: 9.2rem;
    text-align: center;
}

.button {
    float: left;
    height: 100%;
    display: inline-block;
    outline: 0 none;
    margin: 0;
    cursor: pointer;
    border: 0;
    width: 100%;
    background: #fff;
}

#dpage a input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: solid 1px #ddd;
    opacity: 0;
}

input[type=button]::-moz-focus-inner {
    padding: 0;
    border: 0 none;
    -moz-box-sizing: content-box;
}

input[type=button]::-webkit-focus-inner {
    padding: 0;
    border: 0 none;
    -webkit-box-sizing: content-box;
}

input[type=text]::-moz-focus-inner {
    padding: 0;
    border: 0 none;
    -moz-box-sizing: content-box;
}

input[type=text]::-webkit-focus-inner {
    padding: 0;
    border: 0 none;
    -webkit-box-sizing: content-box;
}

.blue .button {
    color: #fff;
    background: #18b4ed;
    height: 100%;
}

.btn-1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center
}

.btn-1 button {
    width: 90%;
    outline: none;
    border: none;
    background: #009bdb;
    color: #fff;
    height: 40px;
    display: inline-block;
    border-radius: 0.4rem;
    font-size: 16px;
}
