/*公共部分样式*/

/** {*/
    /*box-sizing: border-box;*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
/*}*/
*{
    margin: 0;
    padding: 0;
}
body{

    background: -webkit-linear-gradient(top, #3d7eea, #022f79);
    background: -moz-linear-gradient(top, #3d7eea, #022f79);
    background: linear-gradient(top, #3d7eea, #022f79);
    height: 100vh;
    width: 100vw;
}
/*.main {*/
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

.font_14 {
    font-size: 12px;
}

.gray {
    color: #c4c4c4;
}

.blue {
    color: #4285f4;
}
.pd-t40{
    padding-top: 12%;
}

.margin-5 {
    margin-top: -0.04rem;
}

.margin8 {
    margin-top:8%;
}
.margin20 {
    margin-top: 20px;
}

.margin5 {
    margin-top:5%;
}

.margin145 {
    margin-top: 50%;
}

.height32 {
    height: 0.32rem;
}

.pd {
    padding: 0.18rem 0.15rem;
}

.color_w {
    color: #ffffff;
}

.font_18 {
    font-size: 0.18rem;
}

.line_h30 {
    line-height: 25px;
}

.margin_l28 {
    margin-left: 0.2rem;
}
.mui-content{
    height: 100%;
}
button{
    background: none;
    border: none;
}
/*头部样式*/

header {
    padding: 0 0.14rem;
    position: fixed;
    right: 0;
    left: 0;
    height: 44px;
    top: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.mui-title {
    color: #ffffff;
   padding-top: 5px;
    width: 90%;
    padding-left: 10%;
}

.btn_share {
    width: 26px;
    height: 26px;
    display: block;
    margin-right: 12px;
    margin-top: 14px;
    cursor: pointer;
    z-index: 111;
}

.btn_share img {
    width: 100%;
    height: 100%;
}


/*货栈信息列表*/

.margin45 {
    margin-top: 7% !important;
}

.pd_t16 {
    padding-top: 0.16rem;
}

.mui-table-view {
    border-radius: 5px;
    font-size: 13px;
}

.mui-content-padded {
    margin: 8%;
}
.margin12{
    margin-top: 12% !important;
}

.mui-btn-primary {
    border: 0.01px solid #4285f4;
    background-color: #4285f4;
    font-size: 15px;
    padding: 7px 0;
    width: 100%;
    margin-top: 20%;
    border-radius: 4px;
}

#info {
    display: none;
    max-height: 55vh;
    overflow: auto;
}

#no_work {
    width: 100%;
    height: 65vh;
    /*    display: none;*/
}

#no_work>div {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #ffffff;
    padding-top: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#no_work>div p {
    text-align: center;
}

.img_pic {
    width: 170px;
    height: 110px;
}

.img_pic img {
    width: 100%;
    height: 100%;
}


/*审核中*/

.weixi {
    width: 100%;
    height: 43vh;
}

/*.mui-h4 {*/
    /*font-size: 0.18rem;*/
/*}*/

/*.mui-table-view-cell:after {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0.15rem;*/
    /*height: 0.01rem;*/
    /*content: '';*/
    /*-webkit-transform: scaleY(.5);*/
    /*transform: scaleY(.5);*/
    /*background-color: #c8c7cc;*/
/*}*/

.ui-loader {
    display: none;
}



#share1 {

    width: 100%;
    background: #ffffff;
    color: #383838;
    font-size: 14px;
    position: fixed;
    bottom: -30px;
    display: none;
    padding-top: 20px;
}

.itme {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height:30px;
    position: relative;
    padding: 10px 30px;
    padding-top: 0;
}

.itme:after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

#shareCancel {
    line-height: 45px;
    height: 45px;
}

.share_icon {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
}

@media (max-height: 600px) {
    .mui-btn-primary {
       margin-top: 10%;
    }
}
.mui-table-view:before {
    position: absolute;
    right: 0;
    left: 0;
    height: 0;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
    top: -1px;
}
