/*公共部分样式*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: -webkit-linear-gradient(top, #3d7eea, #022f79);
    background: -moz-linear-gradient(top, #3d7eea, #022f79);
    background: linear-gradient(top, #3d7eea, #022f79);
    height: 100vh;
    width: 100vw;
}

.main {
    background: -webkit-linear-gradient(top, #3d7eea, #022f79);
    background: -moz-linear-gradient(top, #3d7eea, #022f79);
    background: linear-gradient(top, #3d7eea, #022f79);
}

.font_14 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.black {
    color: #4d4d4d;
}

.gray {
    color: #c4c4c4;
}

.blue {
    color: #4285f4;
}

.pd-t40 {
    padding-top: 12%;
}

.margin-5 {
    margin-top: -0.04rem;
}

.margin8 {
    margin-top: 8%;
}

.margin20 {
    margin-top: 20px;
}

.margin5 {
    margin-top: 5%;
}

.margin145 {
    margin-top: 40%;
}

.color_w {
    color: #ffffff;
}

.pd10 {
    padding-top: 10%;
}

.pd18 {
    padding-top: 18%;
}

.font_18 {
    font-size: 18px;
}

.font_20 {
    font-size: 20px;
}

.line_h30 {
    line-height: 25px;
}

.margin_l28 {
    margin-left: 0.2rem;
}

.mui-content {
    /*    height: 100%;*/
}

button {
    background: none;
    border: none;
}


/*头部样式*/

header {
    padding: 0 0.14rem;
    position: fixed;
    right: 0;
    left: 0;
    height: 44px;
    top: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.mui-title {
    color: #ffffff;
    padding-top: 5px;
    width: 70%;
    margin-left: 15%;
}

.btn_share {
    width: 26px;
    height: 26px;
    display: block;
    margin-right: 12px;
    margin-top: 14px;
    cursor: pointer;
    z-index: 111;
}

.btn_share img {
    width: 100%;
    height: 100%;
}


/*货栈信息列表*/

.margin45 {
    margin-top: 7% !important;
}

.pd_t16 {
    padding-top: 0.16rem;
}

.mui-table-view {
    border-radius: 5px;
    font-size: 13px;
}

.mui-content-padded {
    margin: 8%;
}

.margin12 {
    margin-top: 12% !important;
}

.mui-btn-primary {
    border: 0.01px solid #4285f4;
    background-color: #4285f4;
    font-size: 15px;
    padding: 7px 0;
    width: 100%;
    margin-top: 20%;
    border-radius: 4px;
}

#info {
    display: none;
    max-height: 55vh;
    overflow: auto;
}

#no_work {
    width: 100%;
    height: 60vh;
    /*    display: none;*/
}

#no_work>div {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #ffffff;
    padding-top: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#no_work>div p {
    text-align: center;
}

.img_pic {
    width: 170px;
    height: 110px;
}

.img_pic img {
    width: 100%;
    height: 100%;
}


/*审核中*/

.weixi {
    width: 100%;
    height: 43vh;
}

.ui-loader {
    display: none;
}

#share {
    width: 300px;
    position: fixed;
    top: 176px;
    left: 50%;
    margin-left: -50px;
}
.lead_img{
    height: 150px;
    width: 80px;
    position: fixed;
    top: 24px;
    right: 64px;
}
#share p {
    font-size: 18px;
    color: #fff;
}

@media (max-height: 600px) {
    .mui-btn-primary {
        margin-top: 10%;
    }
}

.mui-table-view:before {
    position: absolute;
    right: 0;
    left: 0;
    height: 0;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
    top: -1px;
}


/*协议*/

.retract {
    text-indent: 25px
}

.show1 {
    background: #fff;
    margin: 8%;
    padding: 24px 16px 0 16px;
    height: 80vh;
    overflow: auto;
    border-radius: 5px;
}

.show1 p {
    color: #353535;
    font-size: 12px;
}

.rude {
    font-weight: 700;
}

.pd_lr {
    padding-right: 18%;
    padding-left: 18%;
}
