.mui-title{

}
.btn{
    width: 100%;
    color: #ffffff;
    opacity: 0.6;

}
.active{
    opacity: 1;
}
.show{
    height: 60vh;
    width: 100%;
}
/*上传图片部分样式*/
.mui-card{
    width: 100%;
   margin: 16px 0 0 0;
    border-radius: 5px;
    height: 100%;
}
.mui-card-header{
    height: 70%;
    position: relative;
}
.mui-card-header:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    transform: scale(1, .5);
}

.show a input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: solid 1px #ddd;
    opacity: 0;
}
#uploadBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*display: none;*/
}
#uploadBox a{
  width: 45%;
}
#uploadBox p{
   margin-top: 0.16rem;
}
.upload_btn{
    border: 1px solid #4285f4;
    color: #4285f4;
    width: 100%;
    font-size: 14px;
}
.mui-card-content{
    height: 30%;
}
/*.mui-btn{*/
    /*padding: 10px 12px;*/
    /*font-size: 14px;*/
/*}*/
.text {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100%;
}
.txt1{
    margin-bottom: 0px;
}
#textarea{
    width: 100%;
    border: none;
    font-size: 12px;
    box-sizing: border-box;
    height: 50%;
}
.text .text_1 {
    width: 100%;
    display: none;
    z-index: 111;
    height: 100%;

}
#error {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    display: none;
}
#error label {
    text-decoration: underline;
}

#error a {
    margin-top: 12px;
    text-align: center;
    position: relative;
    color: #8f8f94;
}
#error div{
    width: 45%;
}
#photo {
    width: 100%;
    height: 100%;
    display: none;
}

#img_s {
    width: 100%;
    height: 100%;
    /*border-radius: 5px 5px 0px 0px;*/
}
.htmleaf-container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #383838;
    display: none;
    z-index: 996;
}
.agreement{
    color: #ffffff;
    text-decoration: underline;
    font-size: 14px;
}
#time{
    width: 100%;
    background: #ececec;
    position: fixed;
    bottom: -20%;
    display: none;
}
#time .mui-table-view-cell{
    padding: 2.5%;
}
#two{
    /*display: none;*/
    height: 100%;
    padding-top: 7%;
}
#choice .show .mui-table-view{
    height: 100%;
}
#clipArea {
    height: 92%;
}

#time .mui-table-view {
	border-radius: 0px;
}
.dateActive{
    background: #3777df;
    color: #fff;
}

#cityList{
    background: #ffffff;
    border-radius: 4px;
    height: 100%;
    font-size: 14px;
}
.footer{
    height: 8%;
    font-size: 14px;
}
.footer div{
    padding: 1.2% 2%;
}
#num1{
    padding-right: 5px;
}
.mui-card-header.mui-card-media{
    padding: 5px;
}
