
/*公共部分样式*/
*{
  box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.main{
    background: -webkit-linear-gradient(top, #3d7eea, #022f79);
    background: -moz-linear-gradient(top, #3d7eea, #022f79);
    background: linear-gradient(top, #3d7eea, #022f79);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.gray{
    color: #c4c4c4;
}
.blue{
    color: #4285f4;
}

.margin45{
    margin-top: 45px;
}
.margin16{
    margin-top: 16px;
}
.margin145{
    margin-top: 175px;
}
.height32{
    height: 32px;
}
.pd{
    padding: 18px 15px;
}
.color_w{
    color: #ffffff;
}
.font_18{
    font-size: 18px;
}
/*头部样式*/
header{
    padding: 0 14px;
}
.mui-title{
    font-size: 15px;
    color: #ffffff;
    margin-top: 15px;
}
.btn_share{
    width: 24px;
    height: 24px;
    display: block;
    margin-top: 25px;
    cursor: pointer;
    z-index: 111;
}
.btn_share img{
    width: 100%;
    height: 100%;
}
/*货栈信息列表*/
.margin120{
    margin-top: 35% !important;
}
.pd_t16{
    padding-top: 16px;
}
.mui-table-view{
    border-radius: 5px;
}
.mui-content-padded{
    margin: 28px;
}
.mui-btn-primary{
    border: 1px solid #4285f4;
    background-color: #4285f4;
    font-size: 18px;
    padding: 12px 0;
    width: 100%;
    margin-top: 22%;
}
#info{
    display:none;
}
#no_work{
    width: 100%;
    height: 330px;
}
#no_work>div{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #ffffff;
    padding: 72px;
}
#no_work>div p{
    text-align: center;
}
.img_pic{
    width: 100%;
    height: 114px;
}
.img_pic img{
    width: 100%;
    height: 100%;
}

/*审核中*/
.weixi{
    width: 100%;
    height: 43vh;
}


