.pd_l{
    padding-right: 5px;
}
.btn{
    width: 100%;
    color: #ffffff;
    opacity: 0.6;

}
.active{
    opacity: 1;
}
.show{
    height: 60vh;
}
/*上传图片部分样式*/
.mui-card{
    width: 100%;
   margin: 16px 0 0 0;
    border-radius: 5px;
    height: 100%;
}
.mui-card-header{
    height: 70%;
}
.show{
    width: 100%;
}
.show a input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: solid 1px #ddd;
    opacity: 0;
}
#uploadBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*display: none;*/
}
#uploadBox a{
  width: 45%;
}
#uploadBox p{
   margin-top: 16px;
}
.upload_btn{
    border: 1px solid #4285f4;
    color: #4285f4;
    width: 100%;
    font-size: 14px;
}
.mui-card-content{
    height: 30%;
}
.mui-btn{
    padding: 8px 12px;
}
.text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
#text {
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 15px;
    padding-right: 0px;
    box-sizing: border-box;
    height: 80%;
    margin-top: 20px;
}
.text .text_1 {
    width: 100%;
    display: none;
    z-index: 111;
}
#error {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    display: none;
}
#error label {
    text-decoration: underline;
}

#error a {
    margin-top: 20px;
    text-align: center;
}
#photo {
    width: 100%;
    height: 100%;
    display: none;
}

#img_s {
    width: 100%;
    height: 100%;
    /*border-radius: 5px 5px 0px 0px;*/
}
.htmleaf-container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #383838;
    display: none;
    z-index: 996;
}
.agreement{
    color: #ffffff;
    text-decoration: underline;
    margin-left: 5px;
}
#time{
    height: 30%;
    width: 100%;
    background: #ececec;
    position: absolute;
    bottom: -30%;
    display: none;
}
#time .mui-table-view-cell{
    padding: 15px 15px;
}
#two{
    /*display: none;*/
}
#choice .show .mui-table-view{
    height: 100%;
}
#clipArea {
    height: 92%;
}
.mui-card:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    transform: scale(1, .5);
}

